
<li id="application" class="a liabilities">

    <div class="form-group">
        <div class="col-md-12">
            <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
            <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
               

                <li class=" col-md-6 col-xs-6" > 
                    <div class="liability">
                        <label id="mortages" class="other-input"> 
                            <strong> 
                                <span>Mortages</span> 
                            </strong> 

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Balance Owed</label>
                                    <input id="balance_owed" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                    <input id="monthly_replayment" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Provider</label>
                                    <input id="provider" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="text-right">
                                <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                            </div>

                        </label> 

                    </div>
                </li>



               

                <li class=" col-md-6 col-xs-6" > 
                    <div class="liability">
                        <label id="personal_loan" class="other-input"> 
                            <strong> 
                                <span>personal loan</span> 
                            </strong> 

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Balance Owed</label>
                                    <input id="balance_owed" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                    <input id="monthly_replayment" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Provider</label>
                                    <input id="provider" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="text-right">
                                <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                            </div>

                        </label> 

                    </div>
                </li>


                <li class=" col-md-6 col-xs-6" > 
                    <div class="liability">
                        <label id="credit_card_1" class="other-input"> 
                            <strong> 
                                <span>credit card 1</span> 
                            </strong> 

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Balance Owed</label>
                                    <input id="balance_owed" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                    <input id="monthly_replayment" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Provider</label>
                                    <input id="provider" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="text-right">
                                <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                            </div>

                        </label> 

                    </div>
                </li>



                <li class=" col-md-6 col-xs-6" > 
                    <div class="liability">
                        <label for="otherAmount" class="other-input"> 
                            <strong> 
                                <span>credit card 2</span> 
                            </strong> 

                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Balance Owed</label>
                                    <input name="ird_number" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                    <input name="ird_number" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="col-md-12">
                                    <label class="col-md-6 control-label text-left">Provider</label>
                                    <input name="ird_number" placeholder="$" class="col-md-6 apply required"  >
                                </div>
                            </div>


                            <div class="text-right">
                                <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                            </div>

                        </label> 

                    </div>
                </li>









            </ol>


        <div class="text-right">
            <div class="col-md-12">
                <a id="apply_now" class="btn btn-primary btn-apply" name="6"> apply </a>
            </div>
        </div>






        </div>
    </div>



</li>


