   
   
<li id="application" >    
    <div class="form-group">
        <div class="col-md-12">
            <label class="col-md-12 control-label">Income</label>
            <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
            <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
               

                <li class="radio income selected income" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Taxable Income</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="texable_income" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                </li>

                <li class="radio income selected income" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Any Ohter Income</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="any_other_income" name="otherAmount" class="apply" style="margin:0px; "  placeholder="$"> 
                </li>

            </ol>
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-12">
            <label class="col-md-12 control-label">Expenses</label>
            <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
            <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
               

                <li class="radio expenses selected income" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Mortage rent board</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="mortage_rent_board" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                </li>

                <li class="radio expenses selected income" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Loans and HPs</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="loans_and_hps" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                </li>

                <li class="radio expenses selected income" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Credit Card</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="credit_card" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                </li>

                <li class="radio expenses selected income" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Living</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="living" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                </li>


                <li class="radio expenses selected income" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Child Support</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="child_support" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                </li>




            </ol>
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-12">
            <label class="col-md-12 control-label">Income</label>
            <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
            <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
               

                <li class="radio selected income active" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Total Income</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="total_income" name="total_income" class="apply" style="margin:0px; " placeholder="$" value="0"> 
                </li>

                <li class="radio selected income active" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>Total Expenses</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="total_expenses" name="otherAmount" class="apply" style="margin:0px; " placeholder="$" value="0"> 
                </li>

            </ol>
        </div>
    </div>













    <div class="text-right">
        <a id="fase4" class="btn btn-primary btn-apply" name="5"> Next </a>
    </div>

</li>
