li#application.a.liabilities
  .form-group
    .col-md-12
      #title_error.error-message[style="display:none"]
        p
          | Please select a title
      ol.col-md-12.col-sm-12.col-xs-12.no-padding
        li.col-md-6.col-xs-6
          .liability
            label#mortages.other-input
              strong
                span
                  | Mortages
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Balance owed
                input#balance_owed.col-md-6.apply.required[placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Monthly replayment
                input#monthly_replayment.col-md-6.apply.required[placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Provider
                input#provider.col-md-6.apply.required[placeholder="$"]
            .text-right
              a#fase5.btn.btn-primary.btn-apply[name="6" style="visibility:hidden"]

        li.col-md-6.col-xs-6
          .liability
            label#personal_loan.other-input
              strong
                span
                  | Personal loan
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Balance owed
                input#balance_owed.col-md-6.apply.required[placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Monthly replayment
                input#monthly_replayment.col-md-6.apply.required[placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Provider
                input#provider.col-md-6.apply.required[placeholder="$"]
            .text-right
              a#fase5.btn.btn-primary.btn-apply[name="6" style="visibility:hidden"]

        li.col-md-6.col-xs-6
          .liability
            label#credit_card_1.other-input
              strong
                span
                  | Credit card 1
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Balance Owed
                input#balance_owed.col-md-6.apply.required[placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Monthly replayment
                input#monthly_replayment.col-md-6.apply.required[placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Provider
                input#provider.col-md-6.apply.required[placeholder="$"]
            .text-right
              a#fase5.btn.btn-primary.btn-apply[name="6" style="visibility:hidden"]

        li.col-md-6.col-xs-6
          .liability
            label.other-input[for="otherAmount"]
              strong
                span
                  | Credit card 2
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Balance Owed
                input.col-md-6.apply.required[name="ird_number" placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Monthly replayment
                input.col-md-6.apply.required[name="ird_number" placeholder="$"]
            .form-group
              .col-md-12
                label.col-md-6.control-label.text-left
                  | Provider
                input.col-md-6.apply.required[name="ird_number" placeholder="$"]
            .text-right
              a#fase5.btn.btn-primary.btn-apply[name="6" style="visibility:hidden"]

      .text-right
        .col-md-12
          a#apply_now.btn.btn-primary.btn-apply[name="6"]
            |  apply 
