

<li id="application" class="a">

    <div class="form-group">
        <div id="home_address_error" class="error-message" style="display:none"> <p>Please input red boarder box</p> </div>
        <div class="col-md-12">
            <label class="col-md-12 control-label">How long have you lived at this address?</label>
            <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
            <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="1 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">1 year</span>
                        </strong>
                    </label>
                </li>
                <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="2 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">2 year</span>
                        </strong>
                    </label>
                </li>
                <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="4 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">4 year</span>
                        </strong>
                    </label>
                </li>
                <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="5 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">5 year</span>
                        </strong>
                    </label>
                </li>

                <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="6 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">6 year</span>
                        </strong>
                    </label>
                </li>

                <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="7 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">7 year</span>
                        </strong>
                    </label>
                </li>




                <li class="radio how_long_lived selected other" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>More</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="otherAmount" name="otherAmount" class="apply" style="margin:0px; "> 
                </li>








            </ol>
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-12" style="position: inherit">
            <label class="col-sm-12 control-label" style="position: inherit" >Postal address(if diffrent from adove address)</label>
            <input data-validation="required" id="postal_address" class="col-md-12  col-xs-12 apply required" >
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-12">
            <label class="col-sm-12 control-label" >Previous address(if less than 2 years at current address)</label>
            <input data-validation="required" id="previous_address" class="col-md-12  col-xs-12 apply required" >
        </div>
    </div>





    <div class="form-group">
        <div class="col-md-12">
            <label class="col-md-12 control-label">How long have you lived at this address?</label>
            <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
            <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">

                <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="1 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">1 year</span>
                        </strong>
                    </label>
                </li>
                <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="2 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">2 year</span>
                        </strong>
                    </label>
                </li>
                <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="4 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">4 year</span>
                        </strong>
                    </label>
                </li>
                <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="5 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">5 year</span>
                        </strong>
                    </label>
                </li>

                <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="6 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">6 year</span>
                        </strong>
                    </label>
                </li>

                <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                    <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                    <label class="unselected" value="7 year">
                        <strong>
                            <span data-ng-bind="option.label" class="ng-binding">7 year</span>
                        </strong>
                    </label>
                </li>


                <li class="radio how_long_lived_here selected other" > 
                    <label for="otherAmount" class="other-input"> 
                        <strong> 
                            <span>More</span> 
                        </strong> 
                    </label> 
                    <input type="tel" id="otherAmount" name="otherAmount" class="apply" style="margin:0px; "> 
                </li>





            </ol>
        </div>
    </div>




    <div class="form-group">
        <div class="col-md-12" style="position: inherit">
            <label class="col-sm-12 control-label"  style="position: inherit">Previous address(if less than 2 years at current address)</label>
            <div class="col-md-6 " style="padding: 0px 5px;">
                <input data-validation="required" id="previous_address_name" class="col-md-12 col-xs-12 apply required" placeholder="Name">
            </div>
            <div class="col-md-6 " style="padding: 0px 5px">
                <input data-validation="required"  id="previous_address_phone" class="col-md-12 col-xs-12 apply required" placeholder="Phone">
            </div>
            <div class="col-md-12 " style="padding: 0px 5px;">
                <input  data-validation="required" id="previous_address_address" class="col-md-12 col-xs-12 apply required" placeholder="Address">
            </div>
        </div>
    </div>





    <div class="text-right">
        <a id="fase2" class="btn btn-primary btn-apply" name="3"> Next > </a>
    </div>


</li>


