footer#footer
  .mini-navigation
    .container

    .main-footer-area
      .container
        .row.visible-xs.mobile-footer
          .col-xs-6
            ul
              li
                a[href="https://www.carfinance247.co.uk/terms-and-conditions"]
                  | Terms & conditions
              li
                a[href="https://www.carfinance247.co.uk/privacy-policy"]
                  | Privacy policy
              li
                a[href="https://www.carfinance247.co.uk/complaints-procedure"]
                  | Complaints procedure
              li
                a[href="https://www.carfinance247.co.uk/cookie-policy"]
                  | Cookie policy
              li
                a[href="https://www.carfinance247.co.uk/acceptable-use-policy"]
                  | Acceptable use policy
              li
                a[href="https://www.carfinance247.co.uk/contact-us"]
                  | Contact Us
              li
                a[href="https://www.carfinance247.co.uk/careers"]
                  | Careers
              li
                a[href="https://www.carfinance247.co.uk/press"]
                  | Press office
          .col-xs-6.mobile-footer-buttons
            a.btn.btn-green.footer-apply-now[href="https://www.carfinance247.co.uk/apply?utm_source=www.carfinance247.co.uk&amp;utm_medium=direct"]
              | Apply now
            .btn.btn-purple.btn-phone-nav.footer-call-us
              a[href="tel:03332471247" style="font-size: inherit; font-weight: inherit; color: white;"]

              .cf-sprite.phone-icon.sprite-inline

              .footer-mob-number
                | 0333 247 1247 
          .col-xs-12.mobile-footer-terms
            p
              copy-right
                | Copyright 2017 Carfinance247 
                br
                | 12-18 Pollard Street 
                br
                | Albion Works 
                br
                | Manchester 
                br
                | M4 7AJ, UK 
                br
                br
                | Licensed Credit Broker. All finance is subject to status and income. Written Quotation on request. CarFinance 247 can introduce you to a limited number of finance providers based on your credit rating and we will receive a commission for such introductions. 
                br
                br
                | * The UK’s number one online car finance provider by web traffic. Based on Experian Hitwise data – 663,415 visits to CarFinance 247 vs 299,576 for nearest competitor. January 2017. 
                br
                br
                | Carfinance247 Limited is authorised and regulated by the Financial Conduct Authority, registration number 653019 and we are registered with the Office of the Information Commissioner (No. Z1897658). Applicants must be 18 or over, terms and conditions apply, guarantees and indemnities may be required. 
                br
                br
                | † We do not charge a fee for arranging the finance, however some of our lenders may charge a fee. Your customer service specialist can provide more information on this. 
        .row.desktop-footer
          .visible-sm.col-sm-12
            .visible-sm.footer-featured-buttons
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/contact-us"]
                | Contact us
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/careers"]
                | Careers
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/complaints-procedure"]
                | Complaints
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/press"]
                | Press office
          .hidden-xs.col-sm-9.col-md-9
            .visible-md.visible-lg.footer-featured-buttons
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/contact-us"]
                | Contact us
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/careers"]
                | Careers
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/complaints-procedure"]
                | Complaints
              a.btn.btn-purple[href="https://www.carfinance247.co.uk/press"]
                | Press office
            ul
              li
                a[href="https://www.carfinance247.co.uk/terms-and-conditions"]
                  | Terms & conditions
              li
                a[href="https://www.carfinance247.co.uk/privacy-policy"]
                  | Privacy policy
              li
                a[href="https://www.carfinance247.co.uk/cookie-policy"]
                  | Cookie policy
              li
                a[href="https://www.carfinance247.co.uk/acceptable-use-policy"]
                  | Acceptable Use policy
            p
              copy-right
                | Copyright 2017 Carfinance247 
                br
                | 12-18 Pollard Street 
                br
                | Albion Works 
                br
                | Manchester 
                br
                | M4 7AJ, UK 
                br
                br
                | Licensed Credit Broker. All finance is subject to status and income. Written Quotation on request. CarFinance 247 can introduce you to a limited number of finance providers based on your credit rating and we will receive a commission for such introductions. 
                br
                br
                | * The UK’s number one online car finance provider by web traffic. Based on Experian Hitwise data – 663,415 visits to CarFinance 247 vs 299,576 for nearest competitor. January 2017. 
                br
                br
                | Carfinance247 Limited is authorised and regulated by the Financial Conduct Authority, registration number 653019 and we are registered with the Office of the Information Commissioner (No. Z1897658). Applicants must be 18 or over, terms and conditions apply, guarantees and indemnities may be required. 
                br
                br
                | † We do not charge a fee for arranging the finance, however some of our lenders may charge a fee. Your customer service specialist can provide more information on this. 
          .col-xs-12.col-sm-12.col-md-3.social-section
            a.twitter-svg-holder[href="https://twitter.com/carfinance247?lang=en-gb"]

            a.facebook-svg-holder[href="https://www.facebook.com/carfinance247/"]

            a.youtube-svg-holder[href="https://www.youtube.com/Carfinance247couk"]

            a.social-icon[href="https://www.instagram.com/carfinance247/"]
