<h2 class="h2-mimic__h1-main">Get your
	<br>finance first
</h2>
<div class="h2-section">
	<h2 class="first">good to go</h2>
	<h2 class="second">for your ideal car</h2>
	<!--for purple tags wrap in span-->
	<ul class="home-page-new__ul">
		<li>satisfied with your finance first
		</li>
		<li>be ready for choosing your car happily
		</li>
		<li>Good to go to get your ideal car
		</li>
	</ul>
</div>
<div class="col-md-4">
</div>
<div class="col-md-3 hidden-xs hidden-sm" style="padding:0">
    <img src="<%= image_path('yajirushi.png') %>" style="width:60%"></img>
</div>
<a href="<%= home_apply2_path %>" class="hidden-xs hidden-sm btn btn-green btn-apply-now" data-ga-item="" data-ga-label="Apply now" data-ga-action="Apply now" data-ga-category="Homepage" data-ga-event="Homepage">Apply now 
	<i class="fa fa-chevron-right"></i>
</a>
