section#expert-section
  .expert-header

  .expert-body
    .container
      .row
        .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
          .content
            h2
              | We’re here to help, just get in touch!
        .questions-buttons.col-xs-12.col-sm-8.col-sm-offset-2.col-md-10.col-md-offset-1
          .row
            .col-xs-6
              button.btn.btn-blue[data-ga-item="" data-ga-label="Click to call" data-ga-action="Click to call" data-ga-category="Experts" data-ga-event="Experts" style="background-color: #342791; border-color:#342791"]

                a[style="color: white; text-decoration: none; font-size: inherit;" href="tel:03332471247"]

                  .cf-sprite.phone-icon--white.sprite-inline.hidden-xs
                    image src="#{image_path('phone-receiver_white.png')}"  
                  a style="color: white;" 0333 247 1247

            .col-xs-6
              a.btn.btn-green href="#{home_apply_path()}" Apply now
        .secondary-buttons-section.dealer-enquiries-buttons.col-xs-12.col-sm-4.col-sm-offset-2.col-md-5.col-md-offset-1
          .secondary-buttons-inner
            .visible-md.visible-lg.additional-details
              p.expert-careers-tab
                a[href="https://www.carfinance247.co.uk/careers"]
                  | Careers
              .seperator.vidible-md.visible-lg

              a.large-a.expert-careers-mail[href="mailto:careers@carfinance247.co.uk;"]
                | careers@carfinance247.co.uk
            p.hidden-xs[style="font-size: 1.23em;font-family:&#39;lato&#39;, sans-serif;font-weight: 700;"]
              | Dealer enquiries 
            p.visible-xs[style="font-size: 1.23em;font-family:&#39;lato&#39;, sans-serif;font-weight: 700;"]
              a[href="https://www.carfinance247.co.uk/careers"]
                | Careers
            .seperator.vidible-md.visible-lg

            .row
              .hidden-xs.col-xs-6.col-sm-12
                a.btn.btn-purple.hidden-md.hidden-lg[href="tel:01618502237;"]
                  | 0161 850 2237
                a.visible-md.visible-lg.large-a[href="mailto:dealer-relations@carfinance247.co.uk;"]
                  | dealer-relations@carfinance247.co.uk
              .hidden-xs.col-xs-6.col-sm-12
                a.btn.btn-purple.hidden-md.hidden-lg[href="mailto:dealer-relations@carfinance247.co.uk;"]
                  | Email
                a.visible-md.visible-lg.large-a[href="tel:01618502237;"]
                  | 0161 850 2237
              .col-xs-12.visible-xs
                a.btn.btn-purple.hidden-md.hidden-lg[href="mailto:careers@carfinance247.co.uk;"]
                  | Email
        .secondary-buttons-section.complaint-buttons.col-xs-12.col-sm-4.col-md-5
          .secondary-buttons-inner
            p
              a[href="https://www.carfinance247.co.uk/complaints-procedure"]
                | Have a complaint?
            .seperator.vidible-md.visible-lg

            .row
              .col-xs-6.col-sm-12
                a.btn.btn-purple.hidden-md.hidden-lg[href="tel:01618504939"]
                  | 0161 850 4939
                a.visible-md.visible-lg.large-a[href="mailto:customercare@carfinance247.co.uk;"]
                  | customercare@carfinance247.co.uk
              .col-xs-6.col-sm-12
                a.btn.btn-purple.hidden-md.hidden-lg[href="mailto:customercare@carfinance247.co.uk;"]
                  | Email
                a.visible-md.visible-lg.large-a[href="tel:01618504939;"]
                  | 0161 850 4939
            .visible-md.visible-lg.additional-details
              |  <p style="font-size: 1.23em;font-family: " lato ",=" " sans-serif;font-weight:=" " 700;"="">Partners 
              .seperator.vidible-md.visible-lg

              a.large-a[href="mailto:marketing@carfinance247.co.uk;"]
                | marketing@carfinance247.co.uk
