<div class="container-fluid">
	<div class="row">
		<%= render 'template/navheader' %>

		<nav id="breadcrumb" class="hidden-xs">
	        <div class="container">
	            <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/">
	                                <span itemprop="name">Home</span>
	                            </a>
	                        <meta itemprop="position" content="1">
	                    </li>
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/car-finance-calculator">
	                                <span itemprop="name">About us</span>
	                            </a>
	                        <meta itemprop="position" content="2">
	                    </li>
	            </ol>
	        </div>
	    </nav>

		<section id="content-area-style-grey">
		    <div id="application" class="container">
		        <div class="inner-content-area">
		            <h1 class="h1-mimic__h3">Application</h1>
                    <div class="col-md-12">

                        <%= form_tag("apply_mail", method: "post") do %>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Title</label>
                                <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                <ol class="col-md-12  col-sm-12 col-xs-12">
                                    <li class="radio ng-scope col-md-3 col-sm-6 col-xs-6" >
                                        <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                        <label class="unselected" value="Mr">
                                            <strong>
                                                <span data-ng-bind="option.label" class="ng-binding">Mr</span>
                                            </strong>
                                        </label>
                                    </li>
                                    <li class="radio ng-scope col-md-3 col-sm-6 col-xs-6" >
                                        <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                        <label class="unselected" value="Mrs">
                                            <strong>
                                                <span data-ng-bind="option.label" class="ng-binding">Mrs</span>
                                            </strong>
                                        </label>
                                    </li>
                                    <li class="radio ng-scope col-md-3 col-sm-6 col-xs-6" >
                                        <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                        <label class="unselected" value="Ms">
                                            <strong>
                                                <span data-ng-bind="option.label" class="ng-binding">Ms</span>
                                            </strong>
                                        </label>
                                    </li>
                                    <li class="radio ng-scope col-md-3 col-sm-6 col-xs-6" >
                                        <input type="radio" name="title" value="Miss" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                        <label class="unselected" value="Miss">
                                            <strong>
                                                <span data-ng-bind="option.label" class="ng-binding">Miss</span>
                                            </strong>
                                        </label>
                                    </li>
                                </ol>

                            </div>





                            <div class="form-group">
                                <label class="col-sm-12 control-label">First name</label>
                                <input name="first_name" type="text" class="form-control apply required">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Middle name</label>
                                <input name="middle_name" type="text" class="form-control apply required">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Surname</label>
                                <input name="last_name" class="form-control apply required"  >
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Date of birth</label>
                                <input name="date_of_birth" class="form-control apply required input-mask" data-mask="99/99/9999" placeholder="dd/mm/yyyy" >
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">IRD number</label>
                                <input name="ird_number" class="form-control apply required"  >
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Home phone</label>
                                <input name="home_phone" class="form-control apply required input-mask-phone" data-mask="(999) 999-9999" placeholder="(   )    -     " >
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label">Mobile phone</label>
                                <input name="mobile_phone" class="form-control apply required input-mask-phone"  data-mask="(999) 999-9999" placeholder="(   )    -     ">
                            </div>
                            <div class="form-group">
                                <label class="col-sm-12 control-label" style="color:red">Email Address</label>
                                <input name="email" class="form-control apply required" >
                            </div>

                            <center>
                            <section class="main-section">
                                <%= submit_tag("Apply now", :id=> "apply_now", :class=> "hidden-xs hidden-sm btn btn-green btn-apply-now") %>
                            </section>
                            </center>
                        <% end %>



                    </div>
		        </div>
		    </div>
		</section>


	</div>
</div>


