<div class="container-fluid">
	<div class="row">
		<%= render 'template/navheader' %>

		<nav id="breadcrumb" class="hidden-xs">
	        <div class="container">
	            <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/">
	                                <span itemprop="name">Home</span>
	                            </a>
	                        <meta itemprop="position" content="1">
	                    </li>
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/car-finance-calculator">
	                                <span itemprop="name">About us</span>
	                            </a>
	                        <meta itemprop="position" content="2">
	                    </li>
	            </ol>
	        </div>
	    </nav>

		<section id="content-area-style-grey">
		    <div id="application" class="container">
		        <div class="inner-content-area">
                    <div class="col-md-12">









                        <h1 class="h1-mimic__h3">Application</h1>







                        <ul class="faq">
                            <li class="q">
                                <span>1</span>
                                <span class="title">About You</span>
                            </li>
                            <li  class="a">
                                <form id="about_you">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-3 control-label">Title</label>
                                        <%= select_tag "no_of_dependent_children", options_for_select(["Mrs", "Ms", "M"]), :class => "col-md-1 col-xs-12 apply required" %>
                                        <input name="first_name" id="first_name" placeholder="First Name" type="text" class="col-md-2 col-sm-12 col-xs-12 apply required">
                                        <input name="first_name" id="middle_name" placeholder="Middle Name " type="text" class="col-md-2 col-sm-12 col-xs-12 apply required">
                                        <input name="first_name" id="sur_name" placeholder="Sur Name" type="text" class="col-md-2 col-xs-12 apply required">
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">Date of Birth</label>
                                        <input id="date_of_birth" class="col-md-5 col-xs-12 apply required input-mask" data-mask="99/99/9999" placeholder="dd/mm/yyyy" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">IRD Number</label>
                                        <input id="ird_number" class="col-md-5 col-xs-12 apply required"  >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">Home phone</label>
                                        <input id="home_phone" class="col-md-5 col-xs-12  apply required input-mask-phone" data-mask="(999) 999-9999" placeholder="(   )    -     " >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-sm-4 control-label">Mobile phone</label>
                                        <input id="mobile_phone" class="col-md-5 col-xs-12 apply required input-mask-phone"  data-mask="(999) 999-9999" placeholder="(   )    -     ">
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">Drivers Licence type</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12 col-sm-12 col-xs-12 no-padding">
                                            <li class="radio driver_licence ng-scope col-md-3 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Learners">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Learners</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio driver_licence ng-scope col-md-3 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Restricted">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Restrictad</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio driver_licence ng-scope col-md-3 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Full">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Full</span>
                                                    </strong>
                                                </label>
                                            </li>
                                        </ol>
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12 " style="position: inherit">
                                        <label class="col-md-4 col-xs-12 control-label" >Material status</label>
                                        <input id="material_status" class="col-md-5 col-xs-12 apply required" >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">Residential status</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                                            <li class="radio residential_status ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Renting">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Renting</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio residential_status ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Own home paying a mortage">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Own home paying a mortage</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio residential_status ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Freehold">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Freehold</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio residential_status ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Boarding">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Boarding</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio residential_status ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Living with relatives">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Living with relatives</span>
                                                    </strong>
                                                </label>
                                            </li>




                                        </ol>
                                    </div>
                                </div>















                                </form>

                                <div class="text-right">
                                    <a id="fase1" class="btn btn-primary btn-apply" name="2"> Next > </a>
                                </div>
                            
                            </li>

                            <li class="q">
                                <span>2</span>
                                <span class="title"> Home Address</span>
                                
                            </li>
                            <li class="a">



                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">How long have you lived at this address?</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                                            <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="1 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">1 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="2 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">2 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="4 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">4 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="5 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">5 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="6 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">6 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_lived ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="7 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">7 year</span>
                                                    </strong>
                                                </label>
                                            </li>




                                            <li class="radio how_long_lived selected other" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>More</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="otherAmount" name="otherAmount" class="apply" style="margin:0px; "> 
                                            </li>




 



                                        </ol>
                                    </div>
                                </div>





                                <div class="form-group">
                                    <div class="col-md-12" style="position: inherit">
                                        <label class="col-sm-12 control-label" style="position: inherit" >Postal address(if diffrent from adove address)</label>
                                        <input id="postal_address" class="col-md-12  col-xs-12 apply required" >
                                    </div>
                                </div>
                            
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-sm-12 control-label" >Previous address(if less than 2 years at current address)</label>
                                        <input id="previous_address" class="col-md-12  col-xs-12 apply required" >
                                    </div>
                                </div>
 




                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">How long have you lived at this address?</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">

                                            <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="1 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">1 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="2 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">2 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="4 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">4 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="5 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">5 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="6 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">6 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_lived_here ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="7 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">7 year</span>
                                                    </strong>
                                                </label>
                                            </li>


                                            <li class="radio how_long_lived_here selected other" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>More</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="otherAmount" name="otherAmount" class="apply" style="margin:0px; "> 
                                            </li>





                                        </ol>
                                    </div>
                                </div>



                            
                                <div class="form-group">
                                    <div class="col-md-12" style="position: inherit">
                                        <label class="col-sm-12 control-label"  style="position: inherit">Previous address(if less than 2 years at current address)</label>
                                        <div class="col-md-6 " style="padding: 0px 5px;">
                                            <input id="previous_address_name" class="col-md-12 col-xs-12 apply required" placeholder="Name">
                                        </div>
                                        <div class="col-md-6 " style="padding: 0px 5px">
                                            <input id="previous_address_phone" class="col-md-12 col-xs-12 apply required" placeholder="Phone">
                                        </div>
                                        <div class="col-md-12 " style="padding: 0px 5px;">
                                            <input id="previous_address_address" class="col-md-12 col-xs-12 apply required" placeholder="Address">
                                        </div>
                                    </div>
                                </div>
 







                                <div class="text-right">
                                    <a id="fase2" class="btn btn-primary btn-apply" name="3"> Next > </a>
                                </div>


                            </li>
                            <li class="q">
                                <span>3</span>
                                <span class="title"> Employment</span>
                                
                            </li>
                            <li class="a">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">Occupation</label>
                                        <input id="occupation" class="col-md-5 col-xs-12 apply required"  >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">Employer's name</label>
                                        <input id="employer_name" class="col-md-5 col-xs-12 apply required"  >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">Employer's address</label>
                                        <input id="employer_address" class="col-md-5 col-xs-12 apply required"  >
                                    </div>
                                </div>


                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-4 control-label">Employer's phone</label>
                                        <input id="employer_phone" class="col-md-5 col-xs-12 apply required"  >
                                    </div>
                                </div>





                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">How long employed?</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">

                                            <li class="radio how_long_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="1 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">1 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="2 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">2 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="4 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">4 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="5 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">5 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="6 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">6 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="7 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">7 year</span>
                                                    </strong>
                                                </label>
                                            </li>




                                            <li class="radio how_long_employed selected other" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>More</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="otherAmount" name="otherAmount" class="apply" style="margin:0px; "> 
                                            </li>





                                        </ol>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-12" style="position: inherit">
                                        <label class="col-md-4 control-label" style="position: inherit">Previous employer</label>
                                        <input name="previous_employer" class="col-md-5 col-xs-12 apply required"  >
                                    </div>
                                </div>




                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">How long employed?</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">

                                            <li class="radio how_long_employed2 ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="1 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">1 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_employed2 ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="2 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">2 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_employed2 ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="4 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">4 year</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio how_long_employed2 ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="5 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">5 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_employed2 ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="6 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">6 year</span>
                                                    </strong>
                                                </label>
                                            </li>

                                            <li class="radio how_long_employed2 ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Ms" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="7 year">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">7 year</span>
                                                    </strong>
                                                </label>
                                            </li>




                                            <li class="radio how_long_employed2 selected other" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>More</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="otherAmount" name="otherAmount" class="apply" style="margin:0px; "> 
                                            </li>





                                        </ol>
                                    </div>
                                </div>





                                <div class="form-group">
                                    <div class="col-md-12" style="position: inherit">
                                        <label class="col-sm-4 control-label" style="position: inherit">Self employed?</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-5  col-sm-12 col-xs-12">
                                            <li class="radio self_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mr" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="Yes">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">Yes</span>
                                                    </strong>
                                                </label>
                                            </li>
                                            <li class="radio self_employed ng-scope col-md-2 col-sm-6 col-xs-6" >
                                                <input type="radio" name="title" value="Mrs" id="employmentStatusfullTime" class="ng-pristine ng-invalid ng-invalid-required">
                                                <label class="unselected" value="No">
                                                    <strong>
                                                        <span data-ng-bind="option.label" class="ng-binding">No</span>
                                                    </strong>
                                                </label>
                                            </li>

                                        </ol>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12" style="position: inherit">
                                        <label class="col-md-4 control-label" style="position: inherit">Your Account</label>
                                        <input id="your_account" class="col-md-5 col-xs-12 apply required"  >
                                    </div>
                                </div>












                                <div class="text-right">
                                    <a id="fase3" class="btn btn-primary btn-apply" name="4"> Next </a>
                                </div>
                            </li>


                            <li class="q">
                                <span>4</span>
                                <span class="title">  Monthly Income & Expenses</span>
                                
                            </li>
                            <li class="a">



                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">Income</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                                           

                                            <li class="radio income selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Taxable Income</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="texable_income" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio income selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Any Ohter Income</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="any_other_income" name="otherAmount" class="apply" style="margin:0px; "  placeholder="$"> 
                                            </li>

                                        </ol>
                                    </div>
                                </div>




                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">Expenses</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                                           

                                            <li class="radio expenses selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Mortage rent board</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="mortage_rent_board" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio expenses selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Loans and HPs</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="loans_and_hps" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio expenses selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Credit Card</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="credit_card" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio expenses selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Living</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="living" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>


                                            <li class="radio expenses selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Child Support</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="child_support" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>




                                        </ol>
                                    </div>
                                </div>



                                <div class="form-group">
                                    <div class="col-md-12">
                                        <label class="col-md-12 control-label">Income</label>
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                                           

                                            <li class="radio selected income active" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Total Income</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="total_income" name="total_income" class="apply" style="margin:0px; " placeholder="$" value="0"> 
                                            </li>

                                            <li class="radio selected income active" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Total Expenses</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="total_expenses" name="otherAmount" class="apply" style="margin:0px; " placeholder="$" value="0"> 
                                            </li>

                                        </ol>
                                    </div>
                                </div>













                                <div class="text-right">
                                    <a id="fase4" class="btn btn-primary btn-apply" name="5"> Next </a>
                                </div>





                            </li>

                            <li class="q">
                                <span>5</span>
                                <span class="title">  Your Assets</span>
                                
                            </li>
                            <li class="a ">

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                                           

                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>home</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="home" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>rental property</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="rental_property" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Investment</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="investment" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>money in bank</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="money_in_bank" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>


                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Vehicle</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="vehicle" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>


                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>furniture</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="furniture" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>


                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>jewelry</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="jewelry" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>

                                            <li class="radio selected income" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Other</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="other" name="otherAmount" class="apply" style="margin:0px; " placeholder="$"> 
                                            </li>





                                        </ol>
                                    </div>
                                </div>






                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-10  col-sm-12 col-xs-12 no-padding">
                                           

                                            <li class="radio selected income active" > 
                                                <label for="otherAmount" class="other-input"> 
                                                    <strong> 
                                                        <span>Total Assets</span> 
                                                    </strong> 
                                                </label> 
                                                <input type="tel" id="total_assets" name="otherAmount" class="apply" style="margin:0px; " placeholder="$" value="0"> 
                                            </li>




                                        </ol>





                                    </div>
                                </div>

                                <div class="text-right">
                                    <a id="fase5" class="btn btn-primary btn-apply" name="6"> Next </a>
                                </div>












                            </li>


                            <li class="q">

                                <span>6</span>
                                <span class="title"> Your Liabilities</span>
                                 
                            </li>
                            <li class="a liabilities">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <div id="title_error" class="error-message" style="display:none"> <p>Please select a title</p> </div>
                                        <ol class="col-md-12  col-sm-12 col-xs-12 no-padding">
                                           

                                            <li class=" col-md-6" > 
                                                <div class="liability">
                                                    <label id="mortages" class="other-input"> 
                                                        <strong> 
                                                            <span>Mortages</span> 
                                                        </strong> 

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Balance Owed</label>
                                                                <input id="balance_owed" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>



                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                                                <input id="monthly_replayment" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Provider</label>
                                                                <input id="provider" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="text-right">
                                                            <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                                                        </div>

                                                    </label> 

                                                </div>
                                            </li>



                                           

                                            <li class=" col-md-6" > 
                                                <div class="liability">
                                                    <label id="personal_loan" class="other-input"> 
                                                        <strong> 
                                                            <span>personal loan</span> 
                                                        </strong> 

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Balance Owed</label>
                                                                <input id="balance_owed" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>



                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                                                <input id="monthly_replayment" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Provider</label>
                                                                <input id="provider" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="text-right">
                                                            <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                                                        </div>

                                                    </label> 

                                                </div>
                                            </li>


                                            <li class=" col-md-6" > 
                                                <div class="liability">
                                                    <label id="credit_card_1" class="other-input"> 
                                                        <strong> 
                                                            <span>credit card 1</span> 
                                                        </strong> 

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Balance Owed</label>
                                                                <input id="balance_owed" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>



                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                                                <input id="monthly_replayment" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Provider</label>
                                                                <input id="provider" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="text-right">
                                                            <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                                                        </div>

                                                    </label> 

                                                </div>
                                            </li>



                                            <li class=" col-md-6" > 
                                                <div class="liability">
                                                    <label for="otherAmount" class="other-input"> 
                                                        <strong> 
                                                            <span>credit card 2</span> 
                                                        </strong> 

                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Balance Owed</label>
                                                                <input name="ird_number" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>



                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Monthly replayment</label>
                                                                <input name="ird_number" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <div class="col-md-12">
                                                                <label class="col-md-6 control-label text-left">Provider</label>
                                                                <input name="ird_number" placeholder="$" class="col-md-6 apply required"  >
                                                            </div>
                                                        </div>


                                                        <div class="text-right">
                                                            <a id="fase5" class="btn btn-primary btn-apply" name="6" style="visibility:hidden">  </a>
                                                        </div>

                                                    </label> 

                                                </div>
                                            </li>









                                        </ol>


                                    <div class="text-right">
                                        <div class="col-md-12">
                                            <a id="apply_now" class="btn btn-primary btn-apply" name="6"> apply </a>
                                        </div>
                                    </div>






                                    </div>
                                </div>



                            </li>


                        </ul>








                    </div>
		        </div>
		    </div>
		</section>


	</div>
</div>


