

<div class="container-fluid">
	<div class="row">
		<%= render 'template/navheader2' %>

		<nav id="breadcrumb" class="hidden-xs">
	        <div class="container">
	            <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/">
	                                <span itemprop="name">Home</span>
	                            </a>
	                        <meta itemprop="position" content="1">
	                    </li>
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/car-finance-calculator">
	                                <span itemprop="name">Application</span>
	                            </a>
	                        <meta itemprop="position" content="2">
	                    </li>
	            </ol>
	        </div>
	    </nav>



						<section id="top-area">
							<header>
						         <div class="container">
						            <div class="row">
						        	<div class="col-md-4 col-xs-3" id="logo"><a href="index.html">Planio Survey template</a></div>
						            
						            <div class="btn-responsive-menu"> <span class="bar"></span> <span class="bar"></span> <span class="bar"></span> </div>

						            
						         </div><!-- End row -->
						         </div><!-- End container -->
						        </header> <!-- End header -->
						        	
						            <div class="container">
						             <div class="row">
						                 <div class="col-md-12 main-title">
						                 <h1>Applicatioin</h1>
						                </div>
						       		</div>
						            </div>
						 </section>   

						<section class="container" id="main">






						<!-- Start Survey container -->
						<div id="survey_container">

							<div id="top-wizard">
								<strong>Progress <span id="location"></span></strong>
								<div id="progressbar"></div>
								<div class="shadow"></div>
							</div><!-- end top-wizard -->
						    
							<form name="example-1" id="wrapped" action="survey_send_1.php" method="POST">
								<div id="middle-wizard">
									<div class="step">
										<div class="row">
											<h3 class="col-md-10">Enter your personal info</h3>
											<div id="application" class="col-md-12">


											</div><!-- end col-md-6 -->
						                    
											<div class="col-md-6">
						                    
												<ul class="data-list">
													<li>
													<div class="styled-select">
														<select class="form-control required" name="country">
															<option value="" selected>Select your country</option>
															<option value="Europe">Europe</option>
															<option value="Asia">Asia</option>
															<option value="North America">North America</option>
															<option value="South America">South America</option>
														</select>
													</div>
													</li>
												</ul>
						                        
												<ul class="data-list">
													<li>
													<div class="qty-buttons">
														<input type="button" value="+" class="qtyplus" name="quantity">
														<input type="text" name="quantity" value="" class="qty form-control required" placeholder="none">
														<input type="button" value="-" class="qtyminus" name="quantity"><span>Your incrementer</span>
													</div>
													</li>
												</ul>
						                        
						                        
											</div><!-- end col-md-6 -->
										</div><!-- end row -->
						                
										<div class="row">
											<div class="col-md-4 col-md-offset-4">
												<ul class="data-list" id="terms">
													<li>
						                            <strong>Do you accept <a href="#" data-toggle="modal" data-target="#terms-txt">terms and conditions</a> ?</strong>
						                            													</li>
												</ul>
											</div>
										</div>
						                
									</div><!-- end step-->
						            
									<div class="step row">
										<div class="col-md-10">
											<h3>Please rate your overall satisfaction about the service provided.</h3>
											<ul class="data-list-2">
												<li><input name="rate" type="radio" class="required check_radio" value="Not Satisfied"><label>Not Satisfied</label></li>
												<li><input name="rate" type="radio" class="required check_radio" value="Quite Satisfied"><label>Quite Satisfied</label></li>
												<li><input name="rate" type="radio" class="required check_radio" value="Satisfied"><label>Satisfied</label></li>
												<li><input name="rate" type="radio" class="required check_radio" value="Completely Satisfied"><label>Completely Satisfied</label></li>
											</ul>
										</div>
									</div><!-- end step -->
						            
									<div class="step row">
										<div class="col-md-10">
											<h3>How did you hear about our company?</h3>
											<ul class="data-list-2">
												<li><input name="question_1[]" type="checkbox" class="required check_radio" value="Google"><label>Google</label></li>
												<li><input name="question_1[]" type="checkbox" class="required check_radio" value="A friend of mine"><label>A friend of mine</label></li>
												<li><input name="question_1[]" type="checkbox" class="required check_radio" value="Print advertise"><label>Print advertise</label></li>
												<li><input name="question_1[]" type="checkbox" class="required check_radio" value="Newspaper"><label>Newspaper</label></li>
											</ul>
										</div>
									</div><!-- end step -->
						            
									<div class="step row">
										<div class="col-md-10">
											<h3>Do you think to suggest our company to a friend or parent?</h3>
											<ul class="data-list-2 clearfix">
												<li><input name="question_2" type="radio" class="required check_radio" value="No"><label>No</label></li>
												<li><input name="question_2" type="radio" class="required check_radio" value="Maybe"><label>Maybe</label></li>
											    <li><input name="question_2" type="radio" class="required check_radio" value="Probably"><label>Probably </label></li>
												<li><input name="question_2" type="radio" class="required check_radio" value="100% Sure"><label>100% Sure</label></li>
												<li><strong>In no, please describe with few words why</strong><textarea name="message_suggest_no" class="form-control"></textarea></li>
											</ul>
										</div>
									</div><!-- end step -->
						            
									<div class="submit step" id="complete">
						                    	<i class="icon-check"></i>
												<h3>Survey complete! Thank you for you time.</h3>
												<button type="submit" name="process" class="submit">Submit the survey</button>
									</div><!-- end submit step -->
						            
								</div><!-- end middle-wizard -->
						        
								<div id="bottom-wizard">
									<button type="button" name="backward" class="backward">Backward</button>
									<button type="button" name="forward" class="forward">Forward </button>
								</div><!-- end bottom-wizard -->
							</form>
							<form name="example-2" id="wrapped" action="survey_send_2.php" method="POST">
							</form>

						    
						</div><!-- end Survey container -->
						</section>

	</div>
</div>


