

<div class="container-fluid">
	<div class="row">
		<%= render 'template/navheader' %>

		<nav id="breadcrumb" class="hidden-xs">
	        <div class="container">
	            <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/">
	                                <span itemprop="name">Home</span>
	                            </a>
	                        <meta itemprop="position" content="1">
	                    </li>
	                    <li itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
	                            <a itemprop="item" href="/car-finance-calculator">
	                                <span itemprop="name">How it works</span>
	                            </a>
	                        <meta itemprop="position" content="2">
	                    </li>
	            </ol>
	        </div>
	    </nav>



		<section id="content-area-style-grey" class="col-md-12">
		        <div id="how_it_works" class="inner-content-area col-md-12" >
		            <h1 class="h1-mimic__h3">HOW IT WORKS</h1>
		            <h1 class="h1-mimic__h3">A SIMPLE 3 STEP before you start</h1>


                    <div id="steps" class="col-md-12">
                        <div class="col-md-4 text-center">
                            <img src="<%= image_path('handshake1.png')%>"></img>
                            <h1>Apply for Financing</h1>
                        </div>

                        <div class="col-md-4 text-center">
                            <img src="<%= image_path('approve1.png')%>"></img>
                            <h1>Approved</h1>
                        </div>

                        <div class="col-md-4 text-center">
                            <img src="<%= image_path('barcode1.png')%>"></img>
                            <h1>Buy</h1>
                        </div>
                    </div>



		        </div>

		</section>









	</div>
</div>


		<script>
	        (function (w, d, s, l, i) {
	        w[l] = w[l] || []; w[l].push({
	        'gtm.start':
	        new Date().getTime(), event: 'gtm.js'
	        }); var f = d.getElementsByTagName(s)[0],
	        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
	        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	        })(window, document, 'script', 'dataLayer', 'GTM-KMQ6CT');
	    </script>
