<body>
	<div class="container-fluid">
		<div class="row">
            <%= render 'template/navheader' %>
            
			<div class="scroll-stop" style="overflow-y: hidden; position: relative;">
				<!-- LARGE CALC |  -->
				<section class="large-calculator calculator-page-calc main-calc-scroll calculator-widget" style="background-color: #4E6E84">
					<div class="container">
						<div class="representative-example">

							<h3 class="about">From</h3>
							<p class="about_num">9.50%</p>
							<h3 class="about_shadow">WITH A MAXIMUM OF</h3>
							<p class="about_shadow_num">13.99%</p>
							<p>
								Many finance companies say about their lowest interest rate and put  inappropriate document fee and  We don’t believe in “the way they do”, which few (if any) customers would qualify for. When you get approved by us, you know your rate will be secured between 9.50% and 13.99%.
							</p>
							<p style="padding: 15px 0px">WE DO SERVICE HONESTELY  AND INTEGRITY </p>
						</div>
					</div>
				</section>

				<%= render 'template/help_section' %>


				</div>
			</div>
		</div>



        <script>
            $(document).ready(function() {

            });
        </script>



	<script>
	        (function (w, d, s, l, i) {
	        w[l] = w[l] || []; w[l].push({
	        'gtm.start':
	        new Date().getTime(), event: 'gtm.js'
	        }); var f = d.getElementsByTagName(s)[0],
	        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
	        'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
	        })(window, document, 'script', 'dataLayer', 'GTM-KMQ6CT');
	    </script>

</body>
