// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header_logo {
    img {
        width: 95%;
    }
}
#sub-box-button {
    img {
        padding-left: 5px;
        padding-top: 7px;
    }
}
