// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#header_logo {
    img {
        width: 95%;
    }
}
#sub-box-button {
    img {
        padding-left: 5px;
        padding-top: 7px;
    }
}

#close {
    color: white;
    border: 1px solid white;
}
#application, #business_application {
    .col-sm-10 {
        padding-bottom: 20px;
    }
    label {
        color: #323232;
        font-size: 20px;
        font-weight: 700;
        margin: 0 0 0 -3px;
        padding: 10px 0 10px;
        display: block;
    }
    label.small {
        font-size: 14px;
    }


    label.error {
        color: white;
        font-size: 16px;
        padding: 0px 11px;
    }
    h2 {
        font-size: 16px;
    }

}

ol>li.radio {
    border: 1px solid white;
    background-color: white;
    position: relative;
    padding: 13px 105px 13px 10px;
    transition: all .4s linear;
    -moz-transition: all .4s linear;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;


    input, select, textarea {
        border: 1px solid #CCC;
        border-radius: 5px;
        padding: 6px;
        background-color: #FFF;
        box-shadow: inset 0 2px 3px rgba(0,0,0,.1);
    }

    input[type=radio], input[type=checkbox] {
        position: absolute;
        left: -5000px;
    }
}

ol > li.radio {
    width: 136px;
    margin: 0;
    padding: 0 5px 10px;
    display: inline-block;
    vertical-align: top;
}

.radio input[type=radio]+label {
    padding: 0;
    margin: 0;
    text-align: center;
    color: #888;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

input[type=radio]+label, input[type=checkbox]+input+label, input[type=checkbox]+label, #yourcontactperferenceemailupdatelabel {
    display: block;
    clear: both;
    position: relative;
    font-size: 1em;
    padding: 5px 0 5px 28px;
    width: inherit;
}

 .radio strong,  .radio input.checked strong.plus-sign {
    transition: background-color .2s,border-color .2s,color .2s;
    cursor: pointer;
    border: 3px solid #DCDCDC;
    background-color: #FFF;
    color: #888;
    font: 700 18px Arial;
    display: table-cell;
    width: 100px;
    margin: 0;
    height: 100px;
    border-radius: 55px;
    vertical-align: middle;
}
.radio strong:hover {
    border: 3px solid #00AEEF;
}

 .radio label.checked strong {
    background-color: #00AEEF;
    border-color: #00AEEF;
    color: #FFF;
}
 .radio label.error-check strong {
    border: 3px solid #dc6767;
}

input#e_mail_address,
input#first_name,
input#middle_name,
input#sur_name,
input#dependentsCount, 
input#dependentsAge,
input#home_phone,
input#mobile_phone,
input#previous_address,
input#driver_licence,
input#driver_licence_version,
input#driver_licence_country,
input#drivers_licence_expire_date, 
input#citizen_ship,
input#last_entry_date,
input#visa_expire_date, 
input#liability_morgage, 
input#liability_creditcard,
input#liability_bankod,
input#postal_address,
input#current_company,
input#current_company_address,
input#current_phone_number,
input#nearest_first_name,
input#nearest_last_name,
input#nearest_address,
input#nearest_phone_number,
input#date_of_birth,
input#previous_company,
input#previous_company_address,
input#other_liability_name,
input#other_liability,
input#loans,
input#loan_company_name,
input#assets_home,
input#assets_furnishing,
input#assets_bank_account,
input#assets_car,
input#assets_investments,
input#morgage_other,
input#morgage,
input#other_name,
input#income_name,
input#income,
input#previous_occupation,
input#current_occupation,
input#company_name,
input#trading_name,
input#company_registration_number,
input#gst_number,
input#number_of_employees,
input#company_address,
input#company_po_box,
input#company_tel,
input#company_email,
input#company_website,
input#business_main_category,
input#business_sub_category,
input#business_type_company_type,
input#contact_persion_address,
input#contact_persion_email,
input#contact_persion_phone,
input#contact_persion_position,
input#contact_persion_last_name,
input#contact_persion_middle_name,
input#contact_persion_first_name,

{
    
    &:valid:not(:placeholder-shown) {
        background: url(image_path('checked.png'));
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: right;

        border-width: 2px;
        border-color: #4ACBBA
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
        background: url(image_path('cancel.png'));
        background-size: 30px;
        background-repeat: no-repeat;
        background-position: right;

        border-width: 2px;
        border-color: #DC585A
    }
   
}




#application .apply , #business_application .apply {
    font-size: 20px;
    height: 50px;
    background-color: white;
    border: 2px solid #e1e1e1;
    box-shadow: inset 0 10px rgba(255, 255, 255, 0.45);
    margin: 0px 5px;
    border-radius: 4px;
    margin-bottom: 10px;

}
#application .apply:hover, #business_application .apply:hover  {
    border-color: #979797;
}
#application .apply::-webkit-input-placeholder, #business_application .apply::-webkit-input-placeholder  {
    color: #e1e1e1
}


#application .apply.error, #business_application .apply.error  {
    border-width: 2px;
    border-color: #f87a7a;
}
#application .apply.valid {
    //border-width: 2px;
    //border-color: #4ACBBA
}



div.error-message {
    display: block;
    clear: both;
    margin-bottom: 20px;
    position: relative;
    overflow: visible;
    border: 1px solid #dc6767;
    padding: 12px;
    background: #dc6767;
    border-radius: 10px;
    text-align: center;
    p {
        color: white !important;
        margin: 0;
    }
}
div.error-message:after {
    display: block;
    content: '';
    width: 20px;
    height: 20px;
    background-color: #dc6767;
    position: absolute;
    left: 46%;
    bottom: -10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}



select.form-control {

    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;

    height: 45px;
    background-color: #f7f7dc;
    /* border: 2px solid #cbcbcb; */
    /* box-shadow: inset 0 10px hsla(60,31%,87%,.45); */


}




select {
    background: transparent;
    background-image: url(image_path('arrow.png'))!important;
    background-position-y: 13px !important;
    background-repeat: no-repeat;
    background-position: right 20px center;    
    height: 40px;
}

.no-padding {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#how_it_works {
    .col-md-4 img {
        width: 50%;
    }

    #steps {
        padding: 45px 0px;
        h1 {
            font-size: 2.0em;
        }
    }
}


#content-area-style-grey .inner-content-area {
    padding: 30px 157px;
}




.btn-apply {
    background-color: #8CD447;
    padding: 6px 50px;
    font-size: 24px;
}

img.thumb {
    width: 100%;
    padding: 10px;
    border: 2px dashed #0087F7;
    border-radius: 5px;

}
ul#tag_list {
    margin: 0;
    padding: 0;
    list-style: none;
}
ul#tag_list li {
    display: inline-block;
    margin: 0 0 .5em 0.5em;
}


ul#tag_list li a {
    font-size: 12px;
}

.btn-primary {
    background-color: #23D1B2;
    border-color: #23D1B2;
    color: white
}

.btn-rounded {
    border-radius: 50px;
}

        .scanner-laser{
            position: absolute;
            margin: 40px;
            height: 30px;
            width: 30px;
        }
        .laser-leftTop{
            top: 0;
            left: 0;
            border-top: solid red 5px;
            border-left: solid red 5px;
        }
        .laser-leftBottom{
            bottom: 0;
            left: 0;
            border-bottom: solid red 5px;
            border-left: solid red 5px;
        }
        .laser-rightTop{
            top: 0;
            right: 0;
            border-top: solid red 5px;
            border-right: solid red 5px;
        }
        .laser-rightBottom{
            bottom: 0;
            right: 0;
            border-bottom: solid red 5px;
            border-right: solid red 5px;
        }


ul#title,
ul#gender,
ul#title_tag_list,
ul#material_status,
ul#driver_licence,
ul#residential_status,
ul#tenancy_status,
ul#living_period,
ul#previous_living_period,
 ul#employtype,
 ul#how_long_work,
 ul#how_long_work_previous,
 ul#relation_ship,
 ul#credit_rating,
 ul#previous_employtype ,
 ul#supplies, 
 ul#new_or_old,
 ul#hp_or_leace,
 ul#director_person_home_owner,
 ul#director_person_driver_type,
 ul#director_person_title,
  {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        display: inline-block;
        margin: 0 0 .5em 0.5em;
        padding: 8px 16px;
        a {
            span {
                margin-right: 5px
            }

            font-size: 1.0375em;
            font-weight: 700;
            padding: .875em;
            padding-left: .0em;
            padding-right: .4em;
            letter-spacing: 1px;
        }
        .active {
            background-color: #23D1B2;
            border-color: #23D1B2;
            color: white;
            -webkit-box-shadow: none
        }
        a#icon {

            top: 50%;
            right: .5em;
            width: 1.875em;
            height: 1.875em;
            background-color: #fff;
            border-radius: .9375em;
            font-size: .9375em;
            font-weight: 400;
            line-height: 1.875em;
            color: #484848;
            border-radius: 100%;
            padding: 7px;
            opacity: .9;


        }
    }
    li.btn.btn-gray.btn-rounded:hover {
        background-color: #cfcfcf;
        border-color: #cfcfcf;
        color: white;
        -webkit-box-shadow: none        
    }
    li.btn.btn-gray.btn-rounded.active:hover {
        background-color: #23D1B2;
        border-color: #23D1B2;
        color: white;
        -webkit-box-shadow: none        
    }
 
    li.btn-gray {
        background-color: #f5f5f5;
        border-color: #f5f5f5;
        a {
            color: #484848;
        }
        a:hover{
            text-decoration: none;
        }
    }
    li.btn-gray.active a {
        color: white;
    }

    li.other {
        display: inline-block;
        margin: 0 0 .5em 0.5em;
        input {
            width: 70px;
            height: 25px;
        }
        input::-web-kit-placeholder {
        }
        a {
            padding: .3em;
            padding-left: .0em;
            padding-right: .4em;
        }
    }

    li.active {
        background-color: #23D1B2;
        border-color: #23D1B2;
        color: white;
        -webkit-box-shadow: none
        a {
            color: white;
        }

    }
}

#about_information,
#material_information,
#driver_information,
#living_information,
#work_information,
#nearest_information,
#liability_information,
#loans_information,
#previous_work_information,
#outgoing_information,
#income_information,
#expence_information,
#assets_information,
#company_information,
#director_information
 {
    border: 3px solid #fafafa;
    padding: 20px;
    box-shadow: 0.5px 0.8px 4.75px 0.25px rgba(38, 38, 38, 0.1);
    margin: 12px 0px;
    div.col-md-12 {
        padding: 5px 0px;
    }
    label span {
        color: #D03883;
        font-size: 21px;
    }
}
#about_information.focus,
#material_information.focus,
#driver_information.focus,
#living_information.focus,
#work_information.focus,
#nearest_information.focus,
#liability_information.focus,
#loans_information.focus,
#previous_work_information.focus,
#outgoing_information.focus,
#income_information.focus,
#expence_information.focus,
#assets_information.focus,
#company_information.focus
 {
        border: 1px solid #4ACBBA;
        padding: 20px;
        box-shadow: -0.1px -0.1px 4.75px 1.5px rgba(74, 203, 91, 0.3);
        margin: 12px 0px;

}

.col-md-12.about_information,
.col-md-12.material_information,
.col-md-12.driver_information  {
    padding: 4px;
}




ul.af_list {
    width: 35%    
}
ul.af_list li.af_item {
    padding: 15px 12px !important;
    font-size: 21px !important;
    border-bottom: 1px solid #e6e6e6;
    span {
        font-size: 21px !important;
    }
}

.calculate_button {
    font-size: 2em;
    padding: 10px 15px;
}



/*============================================================================================*/
/* 5.  MEDIA QUERIES */
/*============================================================================================*/

@media (min-width: 768px) and (max-width: 1200px) {
    #application label {
        font-size: 37px;
        padding-bottom: 25px;
        color: #686868;
        line-height: 40px;
    }


    .forward {
        padding: 20px 70px 20px 70px; 
        font-size: 36px;
        margin-left: 35px;
    }
    .backward {
        padding: 20px 70px 20px 70px;
        font-size: 36px;
    }



    p {
        font-size: 2.3em;
        line-height: 32px;
    }
    small {
        font-size: 1.8em
    }
    #application .apply {
        height: 95px;
        font-size: 40px;
        margin-bottom: 18px;
        margin-right: 0;
        margin-left: 0;
    }
    .step h3 {
        font-size: 45px;
        line-height: 45px;
    }

    #application .apply:hover {
        border-color: #442f70;
    }
    #application .apply.error {
        border-width: 4px;
        border-color: #f87a7a;
    }
    #application .apply.valid {
        border-width: 4px;
        border-color: #4ACBBA
    }




    ul#title,
    ul#gender,
    ul#title_tag_list,
    ul#material_status,
    ul#driver_licence,
    ul#residential_status,
    ul#tenancy_status,
    ul#living_period,
    ul#previous_living_period,
     ul#employtype,
     ul#how_long_work,
     ul#how_long_work_previous,
     ul#relation_ship,
     ul#credit_rating,
     ul#previous_employtype 
      {
        margin: 0;
        padding: 0;
        list-style: none;
        padding-bottom: 15px;
        li {
            display: inline-block;
            margin: 0 0 .5em 0.5em;
            padding: 8px 16px;
            a {
                span {
                    font-size: 25px;
                    margin-right: 10px;
                }
                font-size: 2.2375em;
                font-weight: 700;
                padding: .875em;
                padding-left: .0em;
                padding-right: .4em;
                letter-spacing: 1px;
            }
            .active {
                background-color: #23D1B2;
                border-color: #23D1B2;
                color: white;
                -webkit-box-shadow: none
            }
            a#icon {

                top: 50%;
                right: .5em;
                width: 1.875em;
                height: 1.875em;
                background-color: #fff;
                border-radius: .9375em;
                font-size: .9375em;
                font-weight: 400;
                line-height: 1.875em;
                color: #484848;
                border-radius: 100%;
                padding: 7px;
                opacity: .9;


            }
        }
        li.btn.btn-gray.btn-rounded:hover {
            background-color: #cfcfcf;
            border-color: #cfcfcf;
            color: white;
            -webkit-box-shadow: none        
        }
        li.btn.btn-gray.btn-rounded.active:hover {
            background-color: #23D1B2;
            border-color: #23D1B2;
            color: white;
            -webkit-box-shadow: none        
        }
     
        li.btn-gray {
            background-color: #f5f5f5;
            border-color: #f5f5f5;
            a {
                color: #484848;
            }
            a:hover{
                text-decoration: none;
            }
        }
        li.btn-gray.active a {
            color: white;
        }
        li.active {
            background-color: #23D1B2;
            border-color: #23D1B2;
            color: white;
            -webkit-box-shadow: none
            a {
                color: white;
            }

        }
        li.other {
            display: inline-block;
            margin: 0 0 .5em 0.5em;
            input {
                height: 65px;
                width: 130px;
            }
            a {
                padding: .3em;
                padding-left: .0em;
                padding-right: .4em;
            }
        }




    }


#about_information,
#material_information,
#driver_information,
#living_information,
#work_information,
#nearest_information,
#liability_information,
#loans_information,
#previous_work_information,
#outgoing_information,
#income_information,
#expence_information,
#assets_information
 {
    border: 3px solid #fafafa;
    padding: 20px;
    box-shadow: 0.5px 0.8px 4.75px 0.25px rgba(38, 38, 38, 0.1);
    margin: 12px 0px;
    div.col-md-12 {
        padding: 5px 0px;
    }
    label span {
        color: #D03883;
        font-size: 21px;
    }
}
#about_information.focus,
#material_information.focus,
#driver_information.focus,
#living_information.focus,
#work_information.focus,
#nearest_information.focus,
#liability_information.focus,
#loans_information.focus,
#previous_work_information.focus,
#outgoing_information.focus,
#income_information.focus,
#expence_information.focus,
#assets_information.focus
 {
        border: 3px solid #4ACBBA;
        padding: 20px;
        box-shadow: 2.5px 0.8px 4.75px 0.25px rgba(74, 203, 91, 0.3);
        margin: 12px 0px;

}


input#e_mail_address,
input#first_name,
input#middle_name,
input#sur_name,
input#dependentsCount, 
input#dependentsAge,
input#home_phone,
input#mobile_phone,
input#previous_address,
input#driver_licence,
input#driver_licence_version,
input#driver_licence_country,
input#drivers_licence_expire_date, 
input#citizen_ship,
input#last_entry_date,
input#visa_expire_date, 
input#liability_morgage, 
input#liability_creditcard,
input#liability_bankod,
input#postal_address,
input#current_company,
input#current_company_address,
input#current_phone_number,
input#nearest_first_name,
input#nearest_last_name,
input#nearest_address,
input#nearest_phone_number,
input#date_of_birth,
input#previous_company,
input#previous_company_address,
input#other_liability_name,
input#other_liability,
input#loans,
input#loan_company_name,
input#assets_home,
input#assets_furnishing,
input#assets_bank_account,
input#assets_car,
input#assets_investments,
input#morgage_other,
input#morgage,
input#other_name,
input#income_name,
input#income,
input#previous_occupation,
input#current_occupation,
input#director_person_first_name,
input#director_person_middle_name,
input#director_person_last_name,
input#director_person_phone,
input#director_person_email,
input#director_person_date_of_birth,
input#director_person_address,
input#director_person_share,
input#director_person_driver_licence,
input#director_person_driver_version,
input#director_person_expire_date

{
    
    &:valid:not(:placeholder-shown) {
        background: url(image_path('checked.png'));
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: right;

        border-width: 2px;
        border-color: #4ACBBA
    }

    &:invalid:not(:focus):not(:placeholder-shown) {
        background: url(image_path('cancel.png'));
        background-size: 50px;
        background-repeat: no-repeat;
        background-position: right;

        border-width: 2px;
        border-color: #DC585A
    }
   
}


    ul.af_list {
        width: 80% !important   
    }
    ul.af_list li.af_item {
        padding: 30px 12px !important;
        font-size: 35px !important;
        border-bottom: 1px solid #e6e6e6;
        color: #666;
        span {
            font-size: 35px !important;
        }
    }

    .ui-menu .ui-menu-item {
        margin: 0;
        padding: 0;
        width: 100%;
        height: 90px;
        border-bottom: 1px solid #e6e6e6;
        list-style-image: url(data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7);
    }


    .ui-menu .ui-menu-item a {
        text-decoration: none;
        display: block;
        padding: 2px .4em;
        line-height: 3.5;
        min-height: 0;
        font-weight: normal;
        font-size: 35px;
    }

    #add_income_area, #add_liability, #add_loan, #add_morgage_area, #add_outgoing_area {
        height: 80px;
        border-radius: 8px;
        border: 4px dotted grey;
        text-align: center;
        font-size: 42px;
        padding-top: 5px;
    }


    .large-calculator .main-calc-section .amount-to-borrow-form label {
        width: 100%;
        text-align: center;
        padding: 15px 0px;
        font-size: 2em;
    }
    .large-calculator .main-calc-section .pay-back-group div.text-holder span {
        font-size: 2em;
    }
    .large-calculator .main-calc-section .amount-to-borrow-form .form-control-borrow-mini {
        font-size: 2em;
    }



    .main-calc-section .calculator-title h2 {
        font-size: 2em;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .large-calculator .representative-example h3 {
        font-size: 2em;
        text-align: center;
        padding: 15px 0px;
    }

    .large-calculator .main-calc-section .large-calc-custom-apply .apply {
        font-size: 2.2em;
        font-weight: 800;
        margin-top: 20px;
        margin-bottom: 0;
    }


    

    .h1-mimic__h3, h3 {
        font-size: 2.5em;
        padding: 1em 0em;
    }

   #content-area-style-grey p {
       font-size: 2em;
       color: rgba(0, 0, 0, .75);
   } 
    #how_it_works #steps h1 {
        font-size: 3em;
        padding: 60px 0px;
    }

    .calculate_button {
        font-size: 2em;
        padding: 20px 30px;
    }

    .main-footer-area .desktop-footer p {
        font-size: 1.3em;
    }
    .main-footer-area .desktop-footer ul li {
        font-size: 1.3em;
    }

    .footer-featured-buttons a {
        font-size: 1.4em;
        padding: 10px 40px;
    }

    #your-questions .question-and-answers-desktop h3 {
        font-size: 2em;
    }

    #your-questions .question-and-answers-desktop p {
        font-size: 1.5em;
    }

    .large-calculator .main-calc-section .amount-to-borrow-form p {
        font-size: 1.7em;
    }
    .large-calculator .select-p-text {
        width: 150px;
        height: 55px; 
    }
    .large-calculator .brand-icons-calc p {
        font-size: 1.5em 
    }
    .large-calculator .main-calc-section .tablet-ratings p {
        font-size: 1.4em 
    }

}

@media (min-width: 200px) {
#content-area-style-grey .inner-content-area {
        padding: 30px 0px;
    }
}

@media (min-width: 500px) {
#content-area-style-grey .inner-content-area {
        padding: 30px 0px;
    }
ol {
    padding-bottom: 50px;
}

}

@media (min-width: 768px) {
#content-area-style-grey .inner-content-area {
        padding: 30px 20px;
    }
.faq .col-md-12 ol {
    padding-bottom: 50px;
}

}


@media (min-width: 900px) {
#content-area-style-grey .inner-content-area {
        padding: 30px 40px;
    }


}

@media (min-width: 1200px) {
#content-area-style-grey .inner-content-area {
        padding: 30px 157px;
    }
}





